<div class="row">
    {% for key, val in tntsearch_results.hits  %}
        <h5 class="title">
            <a href="{{ base_url ~ val.link }}">{{ val.title }}</a>
        </h5>
        {% if config.get('plugins.tntsearch.display_route') %}
            <!-- <h6 class="route">{{ val.link }}</h6> -->
        {% endif %}
        <p>{{ val.content }}</p>
    {% endfor %}
</div>