<section id="footer" class="section">
    <section class="container {{ grid_size }}">
        <p><a href="https://ludothekprogramm.ch">Ludothekprogramm LUPO</a> by <a href="https://databauer.ch">databauer</a></p>
    </section>
</section>
