{% block pagination %}
  <ais-pagination>
    <template
      v-slot="{
      currentRefinement,
      nbPages,
      pages,
      isFirstPage,
      isLastPage,
      refine,
      createURL
    }"
    >
      <div v-if="nbPages <= 1"></div>
      <nav
        v-if="nbPages > 1"
        class="select-none relative z-0 inline-flex rounded-md shadow-sm -space-x-px"
        aria-label="Pagination"
      >
        <span
          class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 dark:border-gray-600 text-xs font-medium"
          :class="{
            'cursor-pointer bg-white text-gray-500 hover:bg-gray-50 dark:bg-gray-700 dark:text-gray-300 dark:hover:bg-gray-800': !isFirstPage,
            'text-gray-300 bg-gray-50 dark:text-gray-500 dark:bg-gray-600': isFirstPage
          }"
          :href="createURL(currentRefinement - 1)"
          @click.prevent="refine(currentRefinement - 1)"
        >
          <span class="sr-only">Previous</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 24 24" stroke-width="1.5"
               stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <polyline points="15 6 9 12 15 18"/>
          </svg>
        </span>

        <span
          v-for="page in pages"
          :key="page"
          :aria-current="page === currentRefinement ? 'page' : false"
          class="hidden md:inline-flex relative items-center px-3 py-1 border text-xs font-medium"
          :class="{
            'z-10 bg-algolia-pro border-transparent text-white': page === currentRefinement,
            'cursor-pointer bg-white border-gray-300 text-gray-500 hover:bg-gray-50 dark:text-gray-300 dark:bg-gray-700 dark:border-gray-600 dark:hover:bg-gray-800': page !== currentRefinement
          }"
          @click.prevent="refine(page)"
        >
          [[ page + 1 ]]
        </span>

        <span
          class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 dark:border-gray-600 text-xs font-medium"
          :class="{
            'cursor-pointer bg-white text-gray-500 hover:bg-gray-50 dark:bg-gray-700 dark:text-gray-300 dark:hover:bg-gray-800': !isLastPage,
            'text-gray-300 bg-gray-50 dark:text-gray-500 dark:bg-gray-600': isLastPage
          }"
          :href="createURL(currentRefinement + 1)"
          @click.prevent="refine(currentRefinement + 1)"
        >
          <span class="sr-only">Next</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 24 24" stroke-width="1.5"
               stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <polyline points="9 6 15 12 9 18"/>
          </svg>
        </span>
      </nav>
    </template>
  </ais-pagination>
{% endblock %}
