{% use 'algolia-pro/blocks/searchbox_input.html.twig' %}

{% block searchbox %}
  <div class="flex items-center flex-none h-16 border-b border-transparent">
    <div class="w-full h-full flex">
      {{ block('searchbox_input') }}
    </div>
    <div class="w-px h-8 bg-gray-200 dark:bg-gray-600 flex-none"></div>
    <button
      class="px-4 h-full text-gray-600 hover:text-gray-800 dark:text-gray-400 dark:hover:text-gray-300 transition-fast-out"
      @click.prevent="isOpen = false;query = null;"
    >
      {{ settings.interface.lang.cancel|t }}
    </button>
  </div>
{% endblock %}
