<div class="remodal"
     data-remodal-id="reset-indexes"
     data-remodal-options="hashTracking: false, closeOnOutsideClick: false">
  <div>
    <h1>{{ "PLUGIN_ALGOLIA_PRO.CONFIRM_RESET.TITLE"|t }}</h1>

    <p class="bigger">{{ "PLUGIN_ALGOLIA_PRO.CONFIRM_RESET.CONTENT"|t }}</p>

    <div class="button-bar">
      <button data-remodal-action="cancel" class="button secondary remodal-cancel"><i class="fa fa-fw fa-close"></i> Cancel</button>
      <button data-algolia-pro-reset class="button danger"><i class="fa fa-fw fa-check"></i> Continue</button>
    </div>
  </div>
</div>
