/*
===============================================================================================================================
Put your custom CSS in this file.
===============================================================================================================================
*/

span.btn {
    height: 18px;
    padding: 2px 8px;
    margin: 0 4px;
    border: 1px solid #F3F3F3;
    -moz-box-shadow: 0 0 0 1px #707070;
    -webkit-box-shadow: 0 0 0 1px #707070;
    box-shadow: 0 0 0 1px #707070;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: -moz-linear-gradient(top, #F2F2F2 0%, #EBEBEB 50%, #DDDDDD 51%, #CFCFCF 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#F2F2F2), color-stop(0.5,#EBEBEB),color-stop(0.51,#DDDDDD),color-stop(1,#CFCFCF));
    background: linear-gradient(top, #F2F2F2 0%, #EBEBEB 50%, #DDDDDD 51%, #CFCFCF 100%);
    font-size: 14px;
    color: black;
    text-decoration: none;
}

/* Orange */
blockquote > blockquote > blockquote >  p:first-child:after{
    content: "Hinweis";
}

/* Rot */
blockquote > blockquote > blockquote > blockquote > p:first-child:after {
    content: 'Achtung'; }

/* Blau */
blockquote > blockquote > blockquote > blockquote > blockquote > p:first-child:after {
    content: 'Info'; }

/* Grün */
blockquote > blockquote > blockquote > blockquote > blockquote > blockquote > p:first-child:after {
    content: 'Tipp'; }

.searchbox span{
    right: -10px;
    top: -5px;
}

#sidebar h5 a{
    color: #1694CD;
}

#header > div > form > div.tntsearch-results > div > h5 > a:hover,
#sidebar > div.scroll-wrapper.scrollbar-inner > div.scrollbar-inner.scroll-content > div > ul > li > a:hover > span{
    color: #FE6E09;
}

.tntsearch-field {
    background-color: rgba(255, 255, 255, 0.5) !important;
    color: grey !important;
}

.searchbox input::-moz-placeholder {
    color: #3e3e3e;
}

.searchbox label > i {
    color: black; !important;
}

#header a {
    color: white;
}

#body-inner > h5 > a{
    color: #0e6185;
}