/*
===============================================================================================================================
Put your custom CSS in this file.
===============================================================================================================================
*/

span.btn {
    background-color: lightgray;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 90%;
}

/* Orange */
blockquote > blockquote > blockquote >  p:first-child:after{
    content: "Hinweis";
}

/* Rot */
blockquote > blockquote > blockquote > blockquote > p:first-child:after {
    content: 'Achtung'; }

/* Blau */
blockquote > blockquote > blockquote > blockquote > blockquote > p:first-child:after {
    content: 'Info'; }

/* Grün */
blockquote > blockquote > blockquote > blockquote > blockquote > blockquote > p:first-child:after {
    content: 'Tipp'; }


#sidebar a {
    color: white;
}

#sidebar h5 a {
    color: #FE6E09;
}

#sidebar h5 {
    line-height: 1.5;
}

#header > div > form > div.tntsearch-results > div > h5 > a:hover,
#sidebar > div.scroll-wrapper.scrollbar-inner > div.scrollbar-inner.scroll-content > div > ul > li > a:hover > span{
    color: #FE6E09;
}

a:hover {
    color: #dc6709;
}

.searchbox i.fa-search {
    color: rgba(0, 0, 0, 0.36);
}

.searchbox span {
    right: -10px;
    top: -5px;
}
.searchbox input {
    color: #443e3e;
    background-color: white;
}

.searchbox input::-moz-placeholder {
    color: rgba(0,0,0,.6);
}

.tntsearch-dropdown~.tntsearch-results .row {
    max-width: 266px;
}

/*.tntsearch-results h5.title:first-child {
    margin-top: 0;
}*/

.tntsearch-results {
    text-align: left;
}

.tntsearch-results h5.title > a {
    padding: 0 !important;
}

.tntsearch-results p.info {
    display: none;
}

.tntsearch-results .row {
    padding: 0 10px 0 20px !important;
}

.tntsearch-results .row > p {
    margin-top: 0;
    color: black;
    line-height: 1.5;
}

.tntsearch-results .row > h5 {
    line-height: 1.5;
    font-size: 18px;
}

#body-inner > h5 > a {
    color: #0e6185;
}
