#tntsearch-wrapper {
    margin-top: 100px;
}

.off-canvas .learn-sidebar .learn-brand {
    height: auto;
}

.off-canvas .learn-sidebar .learn-nav ul li.active > a {
    background-color: #331e48;
    margin-left: -1rem;
    padding-left: 1rem;
}

.lupo-title {
    margin: 20px 0px 0px 5px;
    font-size: 22px;
}

figure.image-caption{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2rem;
}

img.caption {
    margin-bottom: 1rem;
}

.img-inline {
    display: inline;
    margin: 0;
    padding: 0 3px;
}

.btn-lupo {
    font-size: 15px;
    margin: 0 1px;
    border-radius: 3px;
    border: 1px solid #ddd;
    padding: 2px 10px 2px 10px;
    background: #f2f2f2;
    background: -moz-linear-gradient(top, #f2f2f2 0%, #ebebeb 42%, #dddddd 47%, #cfcfcf 100%);
    background: -webkit-linear-gradient(top, #f2f2f2 0%, #ebebeb 42%, #dddddd 47%, #cfcfcf 100%);
    background: linear-gradient(to bottom, #f2f2f2 0%, #ebebeb 42%, #dddddd 47%, #cfcfcf 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#cfcfcf', GradientType=0);
    transition: all 0.1s ease-in;
    border: 1px solid #707070;
}


